.home-page {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
    z-index: 999;
    background-color: #f4f2ea;
}

.home-page .hero {
    box-sizing: border-box;
    background-color: #200603;
    width: 100%;
    padding: 10px 40px;
    color: #ffacdb;
}

.home-page .hero .hero-bg{
    background-image: url(../assets/rotate-landing.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    transition: all .4s ease-in-out;
}
.home-page .hero h1 {
    text-transform: uppercase;
    font-size: 22vw;
    text-align: right;
    line-height: 100%;
    font-weight: 700;
}

.home-main {
    padding: 30px 40px;
}

.home-main .we-are {
    gap: 20px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.we-are div {
    box-sizing: border-box;
}

.we-are div h1 {
    width: 87%;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
}

.we-are div p {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 20px;
}

.we-are div button {
    border-radius: 100px;
    font-size: 15px;
    text-transform: uppercase;
    border: 2px solid #200603;
    font-weight: 400;
    background-color: transparent;
    font-family: inherit;
    width: 100%;
    padding: 20px 10px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.we-are div button:hover {
    background-color: #200603;
    color: #ffacdb;
}

.we-are div:nth-child(1) {
    width: 34%;
    padding-bottom: 150px;
    box-sizing: border-box;
}

.we-are div:nth-child(2) {
    background-color: #200603;
    background-image: url(../assets/orange_dancing.jpg);
    width: 40%;
    height: 510px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
}

.we-are div:nth-child(3) {
    background-image: url(../assets/tall_dancing.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    width: 42%;
}

.home-main h6 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 45px;
    line-height: 100%;
    text-align: justify;
    color: #200603;
}

.home-main .explore-classes {
    background-image: url(../assets/explore_classes.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 45px auto 0 auto;
    padding: 10px 60px 40px 60px;
    box-sizing: border-box;
}

.explore-classes div {
    width: 100%;
    font-weight: 700;
    padding: 10px 45px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 4.8vw;
    text-align: justify;
    color: #f4f2ea;
}

.explore-classes button {
    width: 100%;
    border-radius: 100px;
    padding: 30px 5px;
    border: 2px solid transparent;
    background-color: #200603;
    color: #f4f2ea;
    text-transform: uppercase;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-size: 17px;
}

.explore-classes button:hover {
    border-color: #f4f2ea;
    background-color: #200603b9;
    font-weight: 500;
}

.home-main .class-types {
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #200603;
    display: flex;
    justify-content: space-between;
}

.class-types div {
    width: 43%;
    margin-top: 10px;
    height: fit-content;
    box-sizing: border-box;
}

.class-types .contemporary-class {
    background-image: url(../assets/contemporary_dance.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.class-types .high-class {
    background-image: url(../assets/high_energy.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    height: 70vh; 
}

.class-types h1 {
    font-size: 35px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
}

.class-types p {
    font-weight: 400;
    width: 80%;
    font-size: 15px;
    margin: 15px 0;
}

.class-types button {
    width: 100%;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 100px;
    border: 2px solid #200603;
    background-color: transparent;
    color: #200603;
    padding: 25px 5px;
    transition: all .4s ease-in-out;
}

.class-types button:hover {
    background-color: #200603;
    color: #f4f2ea;
}

.marquee {
    width: 100%;
    overflow: hidden;
    background: #ff623e;
    padding: 1rem 0;
    white-space: nowrap;
    position: relative;
  }
 .marquee .left {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    width: 20%;
    align-items: center;
    background: linear-gradient( to right, #ff623e, #ff613e00);
    left: 0;
    z-index: 900;
  }
 .marquee .right {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    width: 20%;
    align-items: center;
    background: linear-gradient( to right, #ff613e00, #ff623e);
    z-index: 900;
    float: right;
    right: 0;
  }

  .marquee-content {
    display: inline-block;
    padding: 4px 0;
    white-space: nowrap;
    z-index: 800;
    animation: scroll-seamless 30s linear infinite;
  }
  .marquee-content:hover {
    animation-play-state: paused;
  }
  .marquee-content span {
    font-size: 24px;
    font-weight: bold;
    color: #ffacdb;
    padding-right: 30px; /* spacing between repeats */
  }
  
  @keyframes scroll-seamless {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
.the-founder {
    background-color: #200603;
    color: #f4f2ea;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 30px 40px;
}

.the-founder .founder-info {
    width: 35%;
    box-sizing: border-box;
    text-transform: uppercase;
}
.the-founder .founder-info h1 {
    font-size: 36px;
    word-spacing: 100px;
    line-height: 100%;
    text-align: justify;
    font-weight: 600;
}

.the-founder .founder-info p {
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0;
}

.the-founder .founder-bg {
    background-image: url(../assets/rotate_founder.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 43%;
}

.mid-point h6{
    padding: 30px 40px;
    margin-bottom: 70px;
    font-size: 5vw;
    font-weight: 700;
    text-transform: uppercase;
    color: #200603;
    line-height: 100%;
    text-align: justify;
}

footer {
    border-top: 1px solid #000;
    padding: 30px 40px;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
}


footer a {
    color: inherit;
    text-underline-offset: 2px;
    transition: all .4s ease-in-out;
}
footer a:hover {
    font-weight: 500;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

footer header {
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding-right: 40px;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 14px;
    color: #200603;
}

footer .info {
    box-sizing: border-box;
    width: 40%;
}

footer .links {
    display: flex;
    justify-content: space-between;
    width: 55%;
    box-sizing: border-box;
}

footer .links ul {
    list-style-type: none;
    font-weight: 400;
}

footer .links .first{
    margin-bottom: 15px;
}

footer h6 {
    text-transform: uppercase;
    margin-top: 50px;
    color: #200603;
    font-size: 22vw;
    text-align: right;
    line-height: 100%;
    font-weight: 700;
}


@media screen and (max-width: 925px) {
    .home-page .hero {
        padding: 10px 30px;
    }
    .home-main {
        padding: 30px;
    }
    .home-page .hero .hero-bg {
        height: 50vh;
    }
    .we-are div h1 {
        width: 100%;
    }
    .we-are div:nth-child(1) {
        padding-bottom: 50px;
    }
    .we-are div:nth-child(3) {
        height: 80vh;
    }
    .the-founder {
        padding: 30px;
    }
    .the-founder .founder-bg {
        width: 50%;
    }
    .mid-point h6 {
        padding: 30px;
    }
    footer {
        padding: 30px;
    }
}

@media screen and (max-width: 850px) {
    .home-main .we-are {
        gap: 60px;
    }
    .we-are div {
        min-width: 100%;
    }
    .we-are div:nth-child(1) {
        width: 100%;
        padding-bottom: 0px;
    }
    .we-are div:nth-child(2){
        position: relative;
        height: 25vh;
    }
    .we-are div:nth-child(3) {
        height: 45vh;
    }
    .we-are div p {
        font-size: 17px;
        padding-top: 25px;
        padding-bottom: 35px;
    }
    .we-are div button {
        font-size: 20px;
    }
    .home-page .explore-classes {
        padding: 10px 30px 40px 30px;
    }
    .explore-classes div {
        padding: 10px 25px;
    }
    .explore-classes button {
        padding: 25px 5px;
    }
    .home-main .class-types {
        flex-direction: column;
        gap: 30px;
    }
    .class-types div {
        width: 100%;
    }
    .class-types .contemporary-class {
        height: 50vh;
    }
    .class-types .high-class {
        height: 50vh;
    }
    .class-types h1 {
        font-size: 5vw;
    }
    .class-types p {
        width: 100%;
    }
    .the-founder {
        flex-direction: column;
        gap: 40px;
    }
    .the-founder div {
        min-width: 100%;
    }
    .the-founder .founder-bg {
        height: 40vh;
    }
    footer header {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
        padding-right: 0;
    }
    footer header div {
        min-width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .home-page .hero{
        padding: 10px 20px;
    }
    .home-main {
        padding: 30px 20px;
    } 
    .the-founder {
        padding: 30px 20px;
    }
    .home-main .we-are {
        gap: 40px;
    }
    .we-are div p {
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .home-page .hero .hero-bg {
        height: 45vh;
    }
    .home-page .hero h1 {
        font-size: 21vw;
    }
    .home-main h6 {
        font-size: 8vw;
    }
    .home-main .explore-classes {
        height: 70vh;
    }
    .explore-classes div {
        flex-direction: column;
        align-items: center;
        font-size: 7.5vw;
        line-height: 100%;
        padding: 30px 0;
    }
    .class-types h1 {
        font-size: 24px;
    }
    .mid-point h6 {
        font-size: 8vw;
        margin-top: 40px;
        margin-bottom: 140px;
        padding: 30px 20px;
    }
    footer .links {
        flex-direction: column;
        gap: 30px;
    }
    footer h6 {
        font-size: 20vw;
    }
}