@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comfortaa&family=DM+Serif+Display&family=Montserrat&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

.nav {
  font-family: "Poppins", sans-serif;
  background-color: #200603;
  position: sticky;
  top: 0;
  height: 100%;
  color: #ffacdb;
  display: flex;
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  transition: all .3s ease-in-out;
  z-index: 1000;
}

.nav.class, .nav.schedule, .nav.about, .nav.merch {
  background-color: #f4f2ea;
  color: #360a05;
}

.nav a {
  color: inherit;
  text-decoration: none;
  transition: all .1s ease-in-out;
}
.nav a:hover {
  color: #f4f2ea;
}
.nav.class a:hover, .nav.schedule a:hover, .nav.about a:hover, .nav.merch a:hover {
  color: #360a05;
}

.nav .logo {
  font-family: "syncopate", serif;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 600;
}

.nav .desktop-nav {
  list-style-type: none;
  display: flex;
  gap: 5px;
}

.nav .desktop-nav li {
  padding: 3px 3px;
  font-family: "syncopate", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5vw;
}

.desktop-nav a, .mobile-nav a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 0px;
  text-decoration-thickness: 0px;
}

.nav .desktop-nav a:hover, .mobile-nav a:hover {
  color: #f4f2ea;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
  text-decoration-color: #f4f2ea;
  transition: all 0.4s ease-in-out;
}

.nav.class .desktop-nav a:hover, .nav.about .desktop-nav a:hover, .nav.schedule .desktop-nav a:hover, .nav.merch .desktop-nav a:hover {
  color: #360a05;
  text-decoration-color: #360a05;
}

.nav.class .desktop-nav a.active, .nav.schedule .desktop-nav a.active, .nav.about .desktop-nav a.active, .nav.merch .desktop-nav a.active {
  color: #360a05;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  text-decoration-color: #360a05;
}

.nav-extras {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  font-family: "syncopate", sans-serif;
  list-style-type: none;
}


.open-menu ion-icon {
  font-size: 40px;
  vertical-align: middle;
  display: inline-flex;
}

.mobile-nav {
  background-color: #fd6b41;
  color: #360a05;
  display: flex;
  z-index: 999;
  list-style-type: none;
  font-size: 4.5vw;
  font-weight: 700;
  font-family: "syncopate", sans-serif;
  text-transform: uppercase;
  height: 100vh;
  gap: 35px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .2s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.mobile-nav.active {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
}


.mobile-nav li {
  line-height: 100%;
  font-size: 33px;
}

.mobile-nav .mobile-head {
  font-size: 30px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 20px;
}

.mobile-nav .cart {
  font-size: 4.5vw;
}

@media screen and (max-width: 900px) {
  .nav {
    padding: 50px 30px;
  }
  .nav .desktop-nav {
    display: none;
  }
  .nav .logo {
    font-size: 30px;
  }
  .open-menu ion-icon {
    font-size: 45px;
  }
  .mobile-nav .mobile-head {
    padding: 50px 30px;
  }
}

@media screen and (min-width: 901px) {
   .nav-extras {
    display: none;
  }
  .mobile-nav {
    opacity: none;
  }
  .nav .desktop-nav {
    display: inherit;
  }
  
}

@media screen and (max-width: 550px) {
  .nav, .mobile-nav .mobile-head {
    padding: 30px 20px;
  }
  .nav .mobile-head {
    font-size: 25px;
  }
  .nav .logo {
    font-size: 4.5vw;
  }
  .nav-extras {
    font-size: 4.5vw;
  }
  .open-menu ion-icon {
    font-size: 6vw;
  }
  
}